<div data-controller="ajax-append" class="space-y-6 sm:px-6 md:px-0 md:col-span-9">
  <%= form_with model: @job do |form| %>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">Simulate worker load</h3>
          <p class="mt-1 text-sm text-gray-500">Enqueue background jobs with a configurable processing time to simulate real-world usage and trigger autoscaling.</p>
        </div>

        <!--
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
            <input type="text" name="first_name" id="first_name" autocomplete="given-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
            <input type="text" name="last_name" id="last_name" autocomplete="family-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label for="email_address" class="block text-sm font-medium text-gray-700">Email address</label>
            <input type="text" name="email_address" id="email_address" autocomplete="email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>
        -->

        <fieldset>
          <legend class="text-base font-medium text-gray-900">Queue</legend>
          <p class="text-sm text-gray-500">Rails Autoscale requires named queues.</p>
          <div class="mt-4 space-y-2">
            <% queue_opts = { default: 'Default', urgent: 'Urgent' } %>
            <% queue_opts.each do |value, label| %>
              <div class="flex items-center">
                <%= form.radio_button :queue, value, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300' %>
                <%= form.label :queue, value: value, class: 'ml-3' do %>
                  <span class="block text-sm font-medium text-gray-700"><%= label %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </fieldset>

        <fieldset>
          <legend class="text-base font-medium text-gray-900">Processing time</legend>
          <p class="text-sm text-gray-500">Simulates "work" by sleeping for the specified duration.</p>
          <div class="mt-4 space-y-2">
            <% latency_opts = { 100 => '100 ms', 1000 => '1 sec', 10000 => '10 sec', 20000 => '20 sec', 30000 => '30 sec', 60000 => '1 min' } %>
            <% latency_opts.each do |value, label| %>
              <div class="flex items-center">
                <%= form.radio_button :latency, value, class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300' %>
                <%= form.label :latency, value: value, class: 'ml-3' do %>
                  <span class="block text-sm font-medium text-gray-700"><%= label %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="px-4 py-3 bg-gray-50 sm:px-6">
        <button type="submit" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">
          Enqueue job
        </button>
      </div>
    </div>
  <% end %>

  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Enqueued at
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Queue
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Latency
                </th>
              </tr>
            </thead>
            <tbody data-ajax-append-target="container" class="bg-white divide-y divide-gray-200">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
